In [42]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [43]:
df = pd.read_csv('train.csv')
tst = pd.read_csv('test.csv')
pid = tst['PassengerId']

In [44]:
#cleaning data
df= df.drop(['Ticket','Cabin','Name','PassengerId'],axis=1)
tst= tst.drop(['Ticket','Cabin','Name','PassengerId'],axis=1)

In [45]:
print(df.isnull().sum())
print(tst.isnull().sum())

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64
Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [46]:
df.dropna(inplace=True)
tst.dropna(inplace = True)

In [47]:
print(df.isnull().sum())
print(tst.isnull().sum())

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [48]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [49]:
#Encoding Categroical Variables

lb =LabelEncoder()

cols =['Sex','Embarked']

for col in cols:
    df[col]=lb.fit_transform(df[col])
    tst[col] = lb.fit_transform(tst[col])

In [50]:
print(df)
tst

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         2
1           1       1    0  38.0      1      0  71.2833         0
2           1       3    0  26.0      0      0   7.9250         2
3           1       1    0  35.0      1      0  53.1000         2
4           0       3    1  35.0      0      0   8.0500         2
..        ...     ...  ...   ...    ...    ...      ...       ...
885         0       3    0  39.0      0      5  29.1250         1
886         0       2    1  27.0      0      0  13.0000         2
887         1       1    0  19.0      0      0  30.0000         2
889         1       1    1  26.0      0      0  30.0000         0
890         0       3    1  32.0      0      0   7.7500         1

[712 rows x 8 columns]

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0         3    1  34.5      0      0    7.8292         1
1         3    0  47.0      1      0    7.0000         2
2         2    1  62.0      0      0    9.6875         1
3         3    1  27.0      0      0    8.6625         2
4         3    0  22.0      1      1   12.2875         2
..      ...  ...   ...    ...    ...       ...       ...
409       3    0   3.0      1      1   13.7750         2
411       1    0  37.0      1      0   90.0000         1
412       3    0  28.0      0      0    7.7750         2
414       1    0  39.0      0      0  108.9000         0
415       3    1  38.5      0      0    7.2500         2

[331 rows x 7 columns]

In [51]:
X = df.drop('Survived',axis=True)
Y = df['Survived']

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [52]:
lg =LogisticRegression(random_state= 0, max_iter=1000)
lg.fit(x_train, y_train)

LogisticRegression(max_iter=1000, random_state=0)

In [53]:
y_pred = lg.predict(x_test)
print("Accuracy:" , accuracy_score(y_test,y_pred))

Accuracy: 0.7972027972027972

In [54]:
pred = lg.predict(tst)

In [55]:
len(pred)

331

In [56]:
len(tst)

331

In [69]:
# creating a Dataframe of the Final Result
pid = pid.iloc[:331]
prediction = pd.DataFrame({
    'PassengerId': pid.values,
    'Survived': pred
})

In [71]:
#Final result
prediction

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
326         1218         1
327         1219         1
328         1220         1
329         1221         1
330         1222         0

[331 rows x 2 columns]